{% extends "base.html" %}
{#{% load babel %}#}
{% load i18n %}
{#{% load i18n_address_tags %}#}
{% load materializecss %}
{% load price from taxed_prices %}
{% load static %}
{% load status %}
{#{% load voucher %}#}
{% load product_stock %}

{% block title %}
  {{ barter_manage }} - {% trans "物々交換執行表" context "Dashboard barter_manage list" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-barter-manage{% endblock %}

{% block menu_barter_manage_class %}active{% endblock %}

{% block newfilters %}{% endblock newfilters %}

{% block header_menu %}
  {#  {% url "product_stock:order-manage-list" as url %}#}
  {#  {% include "dashboard/includes/_back_link.html" with url=url %}#}
{% endblock %}

{% block header_extra %}
  {% if barter_manage.is_draft %}
    <div class="btn-fab-fixed" style="right: 8%;z-index: auto;">
      <a href="#base-modal" data-href="{% url "product_stock:remove-draft-barter-manage" barter_manage_pk=barter_manage.pk %}"
         class="waves-effect waves-light btn modal-trigger-custom">
        {% trans "削除" context "barter_manage detail action" %}
        <i class="fa-solid fa-trash-can-list"></i>
      </a>
    </div>
  {% endif %}
  {% if barter_manage.can_cancel %}
    {% if perms.product_stock.barter_cancel_permissions %}
      <div class="btn-fab-fixed" style="right: 8%;z-index: auto;">
        <a href="#base-modal"
           data-href="{% url "product_stock:remove-barter-manage" barter_manage_pk=barter_manage.pk %}"
           class="waves-effect waves-light btn modal-trigger-custom">
          {% trans "取消" context "barter_manage detail action" %}
          <i class="fa-solid fa-trash-can-list"></i>
        </a>
      </div>
    {% endif %}
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url "product_stock:barter-manage-list" %}">
        {% trans "物々交換執行表" context "Dashboard orders list" %}
      </a>
    </li>
    <li>
      <span>
        {{ barter_manage }}
      </span>
    </li>
  </ul>
{% endblock %}


{% block content %}
  {#  <div class="row">#}
  {#    <div class="col s12">#}
  {#      {% if barter_manage.can_cancel %}#}
  {#        <a class="waves-effect waves-light btn">#}
  {#          {% trans "取消" context "barter_manage detail action" %}#}
  {#          <i class="fa-solid fa-xmark-large"></i>#}
  {#        </a>#}
  {#      {% endif %}#}
  {#      {% if barter_manage.is_draft %}#}
  {#        <a href="#base-modal"#}
  {#           data-href="{% url "product_stock:remove-draft-barter-manage" barter_manage_pk=barter_manage.pk %}"#}
  {#           class="waves-effect waves-light btn modal-trigger-custom">#}
  {#          {% trans "削除" context "barter_manage detail action" %}#}
  {#          <i class="fa-solid fa-trash-can-list"></i>#}
  {#        </a>#}
  {#      {% else %}#}
  {#        <a class="waves-effect waves-light btn">#}
  {#          {% trans "印刷" context "barter_manage detail action" %}#}
  {#          <i class="fa-sharp fa-solid fa-print"></i>#}
  {#        </a>#}
  {#      {% endif %}#}
  {#    </div>#}
  {#  </div>#}



  <div class="row">
    <div class="col s12">
      <ul class="tabs" role="tablist">
        <li role="presentation" class="tab col s4">
          <a href="#order-manage-details" role="tab" class="active">
            <span>
              {% trans "物々交換詳細" context "barter_manage detail tab" %}
            </span>
            <i class="fa-solid fa-square-info"></i>

          </a>
        </li>
        <li role="presentation" class="tab col s4">
          <a href="#payment-history" role="tab">
            <span>
              {% trans "物々交換資金流" context "barter_manage detail tab" %}
            </span>
            <i class="fa-solid fa-money-simple-from-bracket"></i>
          </a>
        </li>
        <li role="presentation" class="tab col s4">
          <a href="#order-manage-history" role="tab">
            <span>
              {% trans "物々交換歴史" context "barter_manage detail tab" %}
            </span>
            <i class="fa-sharp fa-solid fa-rectangle-history-circle-user"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>



  {#---------------------------------------------------------------#}
  <div class="row tab-content" id="order-manage-details">
    <div class="col s12 l12">
      <div class="card shipment-table">
        <div class="data-table-header">
          <div class="data-table-title">
            <div class="row" style="padding-top: 3%;">
              <div class="col s6">
                <h5>

                  {% if barter_manage.is_draft %}
                    {% blocktrans trimmed with barter_manage=barter_manage.id context "Order table title" %}
                      物々交換執行表  下書き #{{ barter_manage }}
                    {% endblocktrans %}
                  {% else %}
                    {% blocktrans trimmed with barter_manage=barter_manage.id context "物々交換 table title" %}
                      物々交換執行表 #{{ barter_manage }}
                    {% endblocktrans %}
                  {% endif %}
                </h5>
              </div>
              <div class="col s6">
                <h6>
                  {% trans "作成" context "Order placed on date" %} {{ barter_manage.created }}
                </h6>
                <h6>
                  {% trans "状態" context "Order placed on date" %}　:　{{ barter_manage.barter_status }}
                  {#          {% render_order_status order.status order.get_status_display %}#}
                </h6>

              </div>
            </div>
          </div>
        </div>

        <div class="data-table-container">
          <table class="bordered highlight responsive data-table">
            <thead>
            <tr>
              <th class="wide">
                {% trans "項目" context "Order table header" %}
              </th>
              <th class="right-align">
                {% trans "買取価格" context "Order table header" %}
              </th>
              <th class="right-align">
                {% trans "数量" context "Order table header" %}
              </th>
              <th class="right-align">
                {% trans "金額" context "Order table header" %}
              </th>
              <th class="right-align">
                {% trans "店舗" context "Order table header" %}
              </th>
              <th class="right-align">
                {% trans "タイプ" context "Order table header" %}
              </th>
              <th class="right-align">
                {% trans "状態" context "Order table header" %}
              </th>
              <th class="right-align">
                {% trans "アクション" context "Order table header" %}
              </th>
            </tr>
            </thead>
            <tbody>
            {% if barter_manage.barter_manage_lines %}
              {% for line in barter_manage %}
                {% if line.product_object_stock %}
                  <tr class="last-no-border">
                    <td>
                      {{ line.product_object_stock.product_stock.name }}
                      <br>
                      <span class="grey-text">
                      {% blocktrans trimmed with jan=line.product_object_stock.product_stock.jan_code context "Order table text" %}
                        JAN 　　　: {{ jan }}
                      {% endblocktrans %}
                    </span>
                      <br>
                      <span class="grey-text">
                      {% blocktrans trimmed with imei=line.product_object_stock.imei_code context "Order table text" %}
                        IMEI　　　: {{ imei }}
                      {% endblocktrans %}
                    </span>
                      <br>
                      <span class="grey-text">
                      {% blocktrans trimmed with extra_informations=line.product_object_stock.extra_informations context "Order table text" %}
                        追加情報　: {{ extra_informations }}
                      {% endblocktrans %}
                    </span>
                      <br>
                      <span class="grey-text">
                      {% blocktrans trimmed with status=line.product_object_stock.status context "Order table text" %}
                        ステータス: {{ status }}
                      {% endblocktrans %}
                    </span>
                    </td>
                    <td class="right-align">
                      {% price line.unit_price %}
                    </td>

                    <td class="right-align">
                      {{ line.quantity }}
                    </td>
                    <td class="right-align">
                      {% price line.line_price %}
                    </td>


                    <td class="right-align">
                      {{ line.product_object_stock.shops }}
                    </td>
                    <td class="right-align">
                      {{ line.barter_manage_type }}
                    </td>
                    <td class="right-align">
                      {{ line.barter_manage_status }}
                    </td>

                    <td class="right-align">
                      {% if barter_manage.is_draft %}
                        <a href="#base-modal"
                           data-href="{%url 'product_stock:remove-barter-manage-line' barter_manage_pk=barter_manage.pk barter_manage_line_pk=line.pk %}"
                           class="modal-trigger-custom"
                           title="{% trans "Remove line" context "order-manage table row action" %}">
                          {% trans "削除" context "order-manage table row action" %}
                        </a>
                      {% else %}
                        ---
                      {% endif %}
                    </td>
                  </tr>
                {% elif line.product_stock %}
                  <tr class="last-no-border">
                    <td>
                      {{ line.product_stock.name }}
                      <br>
                      <span class="grey-text">
                      {% blocktrans trimmed with jan=line.product_stock.jan_code context "Order table text" %}
                        JAN 　　　: {{ jan }}
                      {% endblocktrans %}
                    </span>
                    </td>
                    <td class="right-align">
                      {% price line.unit_price %}
                    </td>

                    <td class="right-align">
                      {{ line.quantity }}
                    </td>
                    <td class="right-align">
                      {% price line.line_price %}
                    </td>

                    <td class="right-align">
                      ----
                    </td>
                    <td class="right-align">
                      {{ line.barter_manage_type }}
                    </td>
                    <td class="right-align">
                      {{ line.barter_manage_status }}
                    </td>


                    <td class="right-align">
                      {% if barter_manage.is_draft %}
                        <a href="#base-modal"
                           data-href="{%url 'product_stock:remove-barter-manage-line' barter_manage_pk=barter_manage.pk barter_manage_line_pk=line.pk %}"
                           class="modal-trigger-custom"
                           title="{% trans "Remove line" context "order-manage table row action" %}">
                          {% trans "削除" context "order-manage table row action" %}
                        </a>
                      {% else %}
                        ---
                      {% endif %}
                    </td>


                  </tr>
                {% endif %}
              {% endfor %}
            {% else %}
              <tr class="">
              </tr>
            {% endif %}


            <tr class="last-no-border">
              <td>

              </td>
              <td class="right-align">
                小計
              </td>
              <td class="right-align">
                {{ barter_manage_get_total_quantity }}
              </td>
              <td class="right-align">
                {% price barter_manage.total %}
              </td>
              <td class="right-align">

              </td>
              <td class="right-align">

              </td>
              <td class="right-align">

              </td>
              <td class="right-align">

              </td>
              {#                <td class="right-align" colspan="3">#}
              {#                  <p>#}
              {#                    {% trans "Subtotal" context "Order subtotal" %}#}
              {#                  </p>#}
              {##}
              {#-------------------------------------#}
              {#                  {% if order.is_shipping_required or order.shipping_method %}#}
              {#                  <p>#}
              {#                    {% if order.is_draft %}#}
              {#                      <a href="#base-modal" data-href="{%url 'product_stock:order-shipping-edit' order_pk=order.pk %}"#}
              {#                         class="modal-trigger-custom" title="{% trans "Edit shipping" context "Order totals action" %}">#}
              {#                        {% if order.shipping_method_name %}#}
              {#                          {% blocktrans trimmed with shipping_name=order.shipping_method_name context "Order totals header" %}#}
              {#                            Shipping ({{ shipping_name }})#}
              {#                          {% endblocktrans %}#}
              {#                        {% else %}#}
              {#                          {% trans "Shipping" context "Order totals header" %}#}
              {#                        {% endif %}#}
              {#                      </a>#}
              {#                    {% else %}#}
              {#                      {% if order.shipping_method_name %}#}
              {#                        {% blocktrans trimmed with shipping_name=order.shipping_method_name context "Order totals header" %}#}
              {#                          Shipping ({{ shipping_name }})#}
              {#                        {% endblocktrans %}#}
              {#                      {% else %}#}
              {#                        {% trans "Shipping" context "Order totals header" %}#}
              {#                      {% endif %}#}
              {#                    {% endif %}#}
              {#                  </p>#}
              {#                  {% endif %}#}
              {##}
              {#                  <p>#}
              {#                    {% if order.display_gross_prices %}#}
              {#                      {% trans "Taxes (included)" context "Order total taxes" %}#}
              {#                    {% else %}#}
              {#                      {% trans "Taxes" context "Order total taxes" %}#}
              {#                    {% endif %}#}
              {#                  </p>#}
              {#-------------------------------------#}
              {##}
              {#                  {% if order.is_draft or order.discount_amount %}#}
              {#                    <p>#}
              {#                      {% if order.is_draft  %}#}
              {#                        <a class="dropdown-button" href="#" data-activates="discount-menu" data-constrainwidth="false">#}
              {#                          {% if order.discount_name %}#}
              {#                            {% blocktrans trimmed with voucher=order.discount_name context "Order totals header" %}#}
              {#                              Discount ({{ voucher }})#}
              {#                            {% endblocktrans %}#}
              {#                          {% else %}#}
              {#                            {% trans "クーポン" context "Order totals header" %}#}
              {#                          {% endif %}#}
              {#                          <svg data-src="{% static "dashboard/images/arrow-drop-down.svg" %}" width="20px" height="20px" />#}
              {#                        </a>#}
              {#                        <ul id="discount-menu" class="dropdown-content">#}
              {#                          <li>#}
              {#                            <a href="#base-modal" data-href="{%url 'product_stock:order-voucher-edit' order_pk=order.pk %}"#}
              {#                               class="modal-trigger-custom" title="{% trans "Edit voucher" context "Order totals action" %}">#}
              {#                              {% trans "Edit voucher" context "Order detail action" %}#}
              {#                            </a>#}
              {#                          </li>#}
              {#                          <li>#}
              {#                            <a href="#base-modal" data-href="{%url 'product_stock:order-discount-edit' order_pk=order.pk %}"#}
              {#                               class="modal-trigger-custom" title="{% trans "Edit discount" context "Order totals action" %}">#}
              {#                              {% trans "Edit discount" context "Order detail action" %}#}
              {#                            </a>#}
              {#                          </li>#}
              {#                        </ul>#}
              {#                      {% elif order.discount_amount %}#}
              {#                        {% if order.discount_name %}#}
              {#                          {% blocktrans trimmed with voucher=order.discount_name context "Order totals header" %}#}
              {#                            Discount ({{ voucher }})#}
              {#                          {% endblocktrans %}#}
              {#                        {% else %}#}
              {#                          {% trans "Discount" context "Order totals header" %}#}
              {#                        {% endif %}#}
              {#                      {% endif %}#}
              {#                    </p>#}
              {#                  {% endif %}#}
              {##}
              {#                  <p><strong>{% trans "Grand total" context "Order totals header" %}</strong></p>#}
              {#                </td>#}
              {#                <td class="right-align">#}
              {##}
              {#                  <p>#}
              {#                    {% price order.get_subtotal display_gross=order.display_gross_prices %}#}
              {#                  </p>#}
              {#-------------------------------------#}
              {#                  {% if order.is_shipping_required or order.shipping_method %}#}
              {#                  <p>#}
              {#                    {% price order.shipping_price display_gross=order.display_gross_prices %}#}
              {#                  </p>#}
              {#                  {% endif %}#}
              {#                  <p>{% price order.total.tax %}</p>#}
              {#-------------------------------------#}
              {#                  {% if order.is_draft or order.discount_amount %}#}
              {#                    <p>{% discount_as_negative order.discount html=True %}</p>#}
              {#                  {% endif %}#}
              {##}
              {#                  <p><strong>{% price order.total.gross %}</strong></p>#}
              {#                </td>#}
            </tr>
            </tbody>
          </table>
        </div>

        {% if barter_manage.suppliers or barter_manage.legal_person %}
          <div class="data-table-title">
            <div class="row" style="padding-top: 3%;">
              <div class="col s6">
                <div class="col s6">
                  {% if barter_manage.suppliers %}
                    取引先(個人)
                  {% elif barter_manage.legal_person %}
                    取引先(法人)
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <div class="data-table-container" style="padding-right: 5%;padding-left: 5%;padding-bottom: 4%;">

            <table class="bordered highlight responsive data-table">
              <thead>
              <tr>
                <th class="wide">
                  {% if barter_manage.suppliers %}
                    取引先(個人)
                  {% elif barter_manage.legal_person %}
                    取引先(法人)
                  {% endif %}
                </th>
                <th>
                  アクション
                </th>
              </tr>
              </thead>
              <tbody>
              <tr class="last-no-border">
                <td>
                  {% if barter_manage.suppliers %}
                    {{ barter_manage.suppliers }}
                  {% elif barter_manage.legal_person %}
                    {{ barter_manage.legal_person }}
                  {% endif %}
                </td>
                <td>
                  {% if barter_manage.is_draft %}
                    {% if barter_manage.legal_person %}
                      <a href="{%url 'product_stock:barter-manage-edit-legal-person' barter_manage_pk=barter_manage.pk %}"
                         class=""
                         title="{% trans "edit-legal_person" context "barter-manage table row action" %}">
                        編集
                      </a>
                    {% elif barter_manage.suppliers %}
                      <a href="{%url 'product_stock:barter-manage-edit-suppliers' barter_manage_pk=barter_manage.pk %}"
                         class=""
                         title="{% trans "edit-legal_person" context "barter-manage table row action" %}">
                        編集
                      </a>
                    {% endif %}
                  {% else %}
                    ---
                  {% endif %}
                </td>
              </tr>
              </tbody>
            </table>

          </div>

        {% endif %}

        <div class="data-table-action">
          <div class="row">
            <div class="col s6">

              {#---------在庫商品を追加------------#}
              {% if barter_manage.is_draft %}

                <a href="{%url 'product_stock:add-new-product-to-barter-manage-numerous' barter_manage_pk=barter_manage.pk %}"
                   class="btn-flat waves-effect"
                   title="{% trans "Add product to order" context "Order summary card action title" %}">
                  {% trans "移入商品を追加" context "barter_manage summary card action" %}
                </a>

                <a href="{%url 'product_stock:select-product-object-stock-to-barter-manage' barter_manage_pk=barter_manage.pk %}"
                   class="btn-flat waves-effect"
                   title="{% trans "Select ProductObjectStock to barter-manage" context "barter-manage summary card action title" %}">
                  {% trans "移出庫商品を追加" context "ProductObjectStock summary card action" %}
                </a>

                <br>

                {% if barter_manage.suppliers or barter_manage.legal_person %}
                {% else %}
                  <a href="{%url 'product_stock:barter-manage-add-suppliers' barter_manage_pk=barter_manage.pk %}"
                     class="btn-flat waves-effect"
                     title="{% trans "Add suppliers" context "barter-manage table row action" %}">
                    {% trans "取引先(個人)を追加" context "barter-manage table row action" %}
                  </a>

                  <a href="{%url 'product_stock:barter-manage-add-legal-person' barter_manage_pk=barter_manage.pk %}"
                     class="btn-flat waves-effect"
                     title="{% trans "Add legal-person" context "barter-manage table row action" %}">
                    {% trans "取引先(法人)を追加" context "barter-manage table row action" %}
                  </a>
                {% endif %}
              {% endif %}
            </div>

            <div class="col s6">
              {#------------------------------------------#}
              {% if barter_manage.is_open %}
                <span class="right">
                <a href="#base-modal"
                   data-href="{%url 'product_stock:fulfill-barter-manage' barter_manage_pk=barter_manage.pk %}"
                   class="btn waves-effect modal-trigger-custom"
                   title="{% trans "fulfill-barter_manage-lines" context "Order summary card action title" %}">
                  {% trans "執行" context "Order summary card action(fulfill)" %}
                </a>
                </span>
              {% endif %}
              {#------------------------------------------#}

              {% if barter_manage.is_draft %}
                <span class="right">
                  <a href="#base-modal"
                     data-href="{%url 'product_stock:create-barter-manage-from-draft' barter_manage_pk=barter_manage.pk %}"
                     class="btn waves-effect modal-trigger-custom"
                     title="{% trans "Create barter_manage" context "Order summary card action title" %}">
                        {% trans "物々交換執行表を作成" context "Order summary card action" %}
                  </a>
                  </span>
              {% endif %}
              {#------------------------------------------#}
              {#          {% if not barter_manage.is_draft %}#}
              {#            barter_manage-invoice#}
              {#            <a href="{%url 'product_stock:order-invoice' order_pk=order.pk %}" class="btn-flat waves-effect" target="_blank">#}
              {#              {% trans "Invoice" context "Order detail action" %}#}
              {#            </a>#}
              {#          {% endif %}#}
              {#------------------------------------------#}
            </div>
          </div>
        </div>

      </div>


      {% for fulfillment in barter_manage_fulfillments %}
        <div class="card shipment-table">
          <div class="data-table-header">
            <h5 class="data-table-title">
              {% blocktrans trimmed with fulfillment=fulfillment.composed_id context "Fulfillment table title" %}
                執行確認 #{{ fulfillment }}
              {% endblocktrans %}
            </h5>
            {{ fulfillment.status }}
            {#            {% render_order_status fulfillment.status fulfillment.get_status_display %}#}
          </div>

          <div class="data-table-container" style="padding: 2%;">
            <table class="bordered highlight responsive data-table">
              <thead>
              <tr>
                <th class="wide">
                  {% trans "項目" context "Order table header" %}
                </th>
                <th class="right-align">
                  {% trans "執行数量" context "Order table header" %}
                </th>
              </tr>
              </thead>
              <tbody>
              {% for line in fulfillment %}
                <tr class="last-no-border">
                  <td>

                    {% if line.barter_manage_line.product_stock %}

                      {{ line.barter_manage_line.product_stock.name }}
                      <br>
                      <span class="grey-text">
                      {% blocktrans trimmed with jan=line.barter_manage_line.product_stock.jan_code context "Order table text" %}
                        JAN 　　　: {{ jan }}
                      {% endblocktrans %}
                    </span>

                    {% elif line.barter_manage_line.product_object_stock %}

                      {{ line.barter_manage_line.product_object_stock.product_stock.name }}
                      <br>
                      <span class="grey-text">
                      {% blocktrans trimmed with jan=line.barter_manage_line.product_object_stock.product_stock.jan_code context "Order table text" %}
                        JAN 　　　: {{ jan }}
                      {% endblocktrans %}
                    </span>
                      <br>
                      <span class="grey-text">
                      {% blocktrans trimmed with imei=line.barter_manage_line.product_object_stock.imei_code context "Order table text" %}
                        IMEI　　　: {{ imei }}
                      {% endblocktrans %}
                    </span>
                      <br>
                      <span class="grey-text">
                      {% blocktrans trimmed with extra_informations=line.barter_manage_line.product_object_stock.extra_informations context "Order table text" %}
                        追加情報　: {{ extra_informations }}
                      {% endblocktrans %}
                    </span>
                      <br>
                      <span class="grey-text">
                      {% blocktrans trimmed with status=line.barter_manage_line.product_object_stock.status context "Order table text" %}
                        ステータス: {{ status }}
                      {% endblocktrans %}
                    </span>
                    {% endif %}

                  </td>
                  <td class="right-align">
                    {{ line.quantity }}
                  </td>
                </tr>
              {% endfor %}
              {#              -----------------------#}
              {#              {% if fulfillment.tracking_number %}#}
              {#                <tr class="last-no-border">#}
              {#                  <td colspan="2">#}
              {#                    {% blocktrans trimmed with tracking=fulfillment.tracking_number context "Fulfillment table text" %}#}
              {#                      Tracking number: {{ tracking }}#}
              {#                    {% endblocktrans %}#}
              {#                  </td>#}
              {#                </tr>#}
              {#              {% endif %}#}
              {#              -----------------------#}
              </tbody>
            </table>
          </div>
          {#          {% if fulfillment.can_edit %}#}
          {#            <div class="data-table-action">#}
          {#              <a href="#base-modal" data-href="{%url 'product_stock:fulfillment-cancel' order_pk=order.pk fulfillment_pk=fulfillment.pk %}"#}
          {#                 class="btn-flat waves-effect modal-trigger-custom" title="{% trans "Cancel fulfillment" context "Fulfillment summary card action title" %}">#}
          {#                {% trans "Remove" context "Fulfillment summary card action" %}#}
          {#              </a>#}
          {#-------------------------#}
          {#              <a href="#base-modal" data-href="{%url 'product_stock:fulfillment-change-tracking' order_pk=order.pk fulfillment_pk=fulfillment.pk %}"#}
          {#                 class="btn-flat waves-effect modal-trigger-custom" title="{% trans "Edit tracking number" context "Fulfillment summary card action title" %}">#}
          {#                {% if fulfillment.tracking_number %}#}
          {#                  {% trans "Edit tracking" context "Fulfillment summary card action" %}#}
          {#                {% else %}#}
          {#                  {% trans "Add tracking" context "Fulfillment summary card action" %}#}
          {#                {% endif %}#}
          {#              </a>#}
          {#              <a href="{%url 'product_stock:fulfillment-packing-slips' order_pk=order.pk fulfillment_pk=fulfillment.pk %}"#}
          {#                 data-href="" class="btn-flat waves-effect" target="_blank">#}
          {#                {% trans "Packing Slips" context "Order detail action" %}#}
          {#              </a>#}
          {#-------------------------#}
          {#            </div>#}
          {#          {% endif %}#}
        </div>
      {% endfor %}


      {#-----------传票号-----------#}
    {% if barter_manage.is_draft %}

    {% else %}
      <div class="card order-slip" id="order-slip">
        <div class="card-content">
          <span class="card-title black-text">
            {% trans "伝票番号" context "slip_number card title" %}

          </span>
          {% if barter_manage.slip_number %}
            <p>{{ barter_manage.slip_number }}</p>
          {% else %}
            <p>
              {% trans "No slip number has been added yet." context "No slip number has been added yet card message" %}
            </p>
          {% endif %}
        </div>
        {% if not barter_manage.slip_number %}
          <div class="card-action">
            <a href="#base-modal" data-href="{% url "product_stock:barter-manage-add-slip-number" barter_manage_pk=barter_manage.pk %}" class="modal-trigger-custom btn-flat waves-effect">
              {% trans "Add" context "Order slip number card action" %}
            </a>
          </div>
        {% else %}
          <div class="card-action">
            <a href="#base-modal" data-href="{% url "product_stock:barter-manage-add-slip-number" barter_manage_pk=barter_manage.pk %}" class="modal-trigger-custom btn-flat waves-effect">
              {% trans "Edite" context "Order slip number card action" %}
            </a>
          </div>
        {% endif %}
      </div>
    {% endif %}




      <div class="card order-notes{% if not notes %} print-hide{% endif %}" id="order-notes">
        <div class="card-content">
          <span class="card-title black-text">
            {% trans "物々交換メモ" context "Order notes card title" %}
          </span>
          {% if notes %}
            <ul class="list">
              {% for note in notes %}
                <li class="list-item list-item--spaced">
                  <small class="list-item-author">{{ note.responsible_person }} - {{ note.date }}</small>
                  <p>{{ note.parameters.message }}</p>
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <p>
              {% trans "There are no notes associated with this order." context "Empty order notes card message" %}
            </p>
          {% endif %}
        </div>
        <div class="card-action">
          <a data-href="{% url "product_stock:barter-manage-add-note" barter_manage_pk=barter_manage.pk %}"
             class="modal-trigger-custom btn-flat waves-effect" href="#base-modal">
            {% trans "メモを追加" context "Order notes card action" %}
          </a>
        </div>
      </div>


    </div>
  </div>
  {#---------------------------------------------------------------#}
  <div class="tab-content" id="payment-history">

  </div>
  {#---------------------------------------------------------------#}
  <div class="tab-content" id="order-manage-history">
    <p class="print-show print-tabs">{% trans "物々交換歴史" context "barter_manage detail tab" %}</p>
    <div class="timeline-outer">
      <ul class="timeline">
        {% for event in events %}
          <li class="event" data-date="{{ event.date }}">
            <div class="content">
              {% display_barter_manage_event event %}{% if event.user %} by {{ event.user }}{% endif %}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {#---------------------------------------------------------------#}
{% endblock %}
