{% extends "base.html" %}
{% load i18n %}
{% load price from taxed_prices %}
{% load prices %}
{% load status %}
{% load utils %}
{% load static %}

{% block title %}{% trans "物々交換執行表" context "Dashboard barter_manage list" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-barter-manage{% endblock %}

{% block menu_barter_manage_class %}active{% endblock %}

{% block newfilters %}
  {% if not is_empty %}
    <div class="row">
    <div class="col s12 l12">
    <ul class="collapsible">
      <li>
        <div class="collapsible-header">
          <i class="fa-regular fa-nfc-magnifying-glass"></i>
          フィルター
          <span class="new badge"  data-badge-caption="個物々交換執行表発見">{{ barter_manage_s_filter.get_total }}</span></div>
        <div class="collapsible-body">
          {% filters barter_manage_s_filter %}
        </div>
      </li>
    </ul>
    </div>
    </div>
  {% endif %}
{% endblock newfilters %}


{% block header_extra %}
    <div class="btn-fab-fixed" style="right: 8%;z-index: auto;">
    <a class="waves-effect waves-light btn" href="{%url 'product_stock:barter-manage-create' %}"
       title="{% trans "物々交換執行表を新規追加" context "barter_manage list add button text" %}">
      <span>注物々交換執行表を新規追加</span>
      <i class="fa-sharp fa-solid fa-memo-circle-info"></i>
    </a>
  </div>
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs">
    <li class="visible-s">{% trans "物々交換執行表" context "Dashboard orders list" %}</li>
  </ul>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 l12">
      {% if barter_manage_s %}
        <div class="card">
          <div class="data-table-container">
            <table class="bordered highlight responsive data-table last-right-align">
              <thead>
                <tr>
                  {% sorting_header 'pk' '#' %}

                  {% trans "作成" context "barter_manage table header" as label %}
                  {% sorting_header 'created' label %}

                  {% trans "取引先" context "order_manage table header" as label %}
                  {% sorting_header 'customer' label %}

                  {% trans "資金状況" context "barter_manage table header" as label %}
                  {% sorting_header 'funds_status' label %}

                  {% trans "資金" context "barter_manage table header" as label %}
                  {% sorting_header 'funds_status' label %}

                  {% trans "物々交換状況" context "barter_manage table header" as label %}
                  {% sorting_header 'barter_manage_status' label %}

                  {% trans "責任者" context "barter_manage table header" as label %}
                  {% sorting_header 'responsible_person' label %}

                  {% trans "最後の変更" context "order_manage table header" as label %}
                  {% sorting_header 'last_change' label %}


                </tr>
              </thead>
              <tbody>
                {% for barter_manage in barter_manage_s %}
                  <tr data-action-go="{%url 'product_stock:barter-manage-details' barter_manage_pk=barter_manage.pk %}">
                    <td>
                      #{{ barter_manage.id }}
                    </td>
                    <td>
                      {{ barter_manage.created }}
                    </td>
                    <td>
                      {% if barter_manage.suppliers %}
                        {{ barter_manage.suppliers }}
                      {% elif barter_manage.legal_person %}
                        {{ barter_manage.legal_person }}
                      {% else %}
                        ---
                      {% endif %}
                    </td>
                    <td>
{#                      {{ barter_manage.funds_status }}#}
{#                      {% render_status order.get_payment_status order.get_payment_status_display %}#}
                    </td>
                    <td>
                        {% price barter_manage.total %}
                    </td>
                    <td>
                      {{ barter_manage.barter_status }}
{#                      {% render_order_status order.status order.get_status_display %}#}
                    </td>
                    <td>
                      {{ barter_manage.responsible_person }}
                    </td>
                    <td class="right-align">
                      {{ barter_manage.last_change }}
                    </td>

                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
{#          {% paginate orders %}#}
        </div>
      {% else %}
        {% if is_empty %}
          {% include 'dashboard/product_stock/barter_manage/zero_page.html' %}
        {% else %}
{#          <div class="col s12">#}
{#            <div class="not-found">#}
{#              <p class="grey-text">#}
{#                {% trans "No orders found." context "Empty order list message" %}#}
{#              </p>#}
{#            </div>#}
{#          </div>#}
        {% endif %}
      {% endif %}
    </div>
    <div class="col s12 l3" id="filters">
{#      {% if not is_empty %}{% filters filter_set %}{% endif %}#}
    </div>
  </div>
{% endblock %}
