{% extends "base_modal.html" %}

{% load i18n %}
{% load materializecss %}

{% block form_class %}{% endblock %}

{% block action_url %}
{%url 'product_stock:remove-draft-manual-inventory-manage' manual_inventory_manage_pk=manual_inventory_manage.pk %}
{% endblock %}

{% block title %}
{% trans "マニュアル出入庫下書き削除" context "Modal remove manual_inventory_manage title" %}
{% endblock %}

{% block content %}
  <div class="col s12">
    {% blocktrans trimmed with manual_inventory_manage=manual_inventory_manage context "Modal remove manual_inventory_manage text" %}
      マニュアル出入庫下書き {{ manual_inventory_manage }} を削除してもよろしいですか?
    {% endblocktrans %}
  </div>
{% endblock %}

{% block cancel_action %}
{% trans "中止" context "Modal remove manual_inventory_manage cancel action" %}
{% endblock %}

{% block primary_action %}
{% trans "削除" context "Modal remove manual_inventory_manage primary action" %}
{% endblock %}
