{% extends "base.html" %}
{% load i18n %}
{% load materializecss %}
{% load static %}

{% block title %}
  {% if shop.pk %}
   {% trans "編集" context "Dashboard attributes list" %} - {{ extra_information }}
  {% else %}
    {% trans "追加情報追加" context "extra_information detail page title" %}
  {% endif %}
  - {{ block.super }}
{% endblock %}

{% block body_class %}body-extra_information-list{% endblock %}

{% block menu_extra_information_class %}active{% endblock %}

{% block newfilters %}{% endblock newfilters %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{%url 'product_stock:extra-information-list' %}" class="breadcrumbs--ellipsed-item">
        {% trans "追加情報" context "Dashboard extra-information-list list" %}
      </a>
    </li>
{#    <li class="back-mobile">#}
{#      <a href="{%url 'product_stock:attributes' %}">#}
{#        <svg data-src="{% static "dashboard/images/arrow-left.svg" %}" fill="#fff" width="20px" height="20px" />#}
{#      </a>#}
{#    </li>#}
    {% if extra_information.pk %}
      <li>
        <span class="breadcrumbs--ellipsed-item">
            {{ extra_information }}
        </span>
      </li>
    <li>
      <span class="breadcrumbs--ellipsed-item">
        {% trans "編集" context "extra_information detail breadcrumbs" %}
      </span>
    </li>
    {% else %}
    <li>
      <span class="breadcrumbs--ellipsed-item">
        {% trans "店舗新規追加" context "extra_information detail breadcrumbs" %}
      </span>
    </li>
    {% endif %}
  </ul>
{% endblock %}


{% block content %}
  <div class="row">
    <div class="col m12 l9">
      <div class="card">
        <form method="post" enctype="multipart/form-data" id="form-attributes" novalidate>
          <div class="card-content card-content-form">
            {% csrf_token %}
            <div class="row">
              {{ form.name|materializecss }}
            </div>
            <div class="row">
              {{ form.description|materializecss }}
            </div>
          </div>
          <div class="card-action right-align">
            {% if extra_information.pk %}
              <a href="{%url 'product_stock:extra-information-list' %}" class="btn-flat waves-effect">
                {% trans "Cancel" context "Dashboard cancel action" %}
              </a>
              <button type="submit" class="btn waves-effect">
                {% trans "Save" context "Dashboard update action" %}
              </button>
            {% else %}
              <a href="{%url 'product_stock:extra-information-list' %}" class="btn-flat waves-effect">
                {% trans "Cancel" context "Dashboard cancel action" %}
              </a>
              <button type="submit" class="btn waves-effect">
                {% trans "Create" context "Dashboard create action" %}
              </button>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
    <div class="col m12 l3 help-box"></div>
  </div>
{% endblock %}

