{% extends "base.html" %}
{% load i18n %}
{% load price from taxed_prices %}
{% load prices %}
{% load status %}
{% load utils %}
{% load static %}

{% block title %}{% trans "注文出入庫執行表" context "Dashboard order_manage list" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-order_manage{% endblock %}

{% block menu_order_manage_class %}active{% endblock %}


{% block newfilters %}
  {% if not is_empty %}
    <div class="row">
    <div class="col s12 l12">
    <ul class="collapsible">
      <li>
        <div class="collapsible-header">
          <i class="fa-regular fa-nfc-magnifying-glass"></i>
          フィルター
          <span class="new badge"  data-badge-caption="個買取・注文出入庫執行表発見">{{ order_manage_s_filter.get_total }}</span></div>
        <div class="collapsible-body">
          {% filters order_manage_s_filter %}
        </div>
      </li>
    </ul>
    </div>
    </div>
  {% endif %}
{% endblock newfilters %}

{#      {% if not is_empty %}{% endif %}#}


{% block header_extra %}
{#    <div class="btn-fab-fixed" style="right: 8%;z-index: auto;">#}
{#    <a class="waves-effect waves-light btn" href="{%url 'product_stock:order-manage-create' %}"#}
{#       title="{% trans "注文出入庫執行表を新規追加" context "order_manage list add button text" %}">#}
{#      <span>注文出入庫執行表を新規追加</span>#}
{#      <i class="fa-sharp fa-solid fa-memo-circle-info"></i>#}
{#    </a>#}
{#  </div>#}

{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs">
    <li class="visible-s">{% trans "買取・注文出入庫執行表" context "Dashboard orders list" %}</li>
  </ul>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 l12">
      {% if order_manage_s %}
        <div class="card">
          <div class="data-table-container">
            <table class="bordered highlight responsive data-table last-right-align">
              <thead>
                <tr>
                  {% sorting_header 'pk' '#' %}

                  {% trans "作成" context "order_manage table header" as label %}
                  {% sorting_header 'created' label %}

                  {% trans "取引先" context "order_manage table header" as label %}
                  {% sorting_header 'customer' label %}

                  {% trans "資金状況" context "order_manage table header" as label %}
                  {% sorting_header 'funds_status' label %}

                  {% trans "タイプ" context "order_manage table header" as label %}
                  {% sorting_header 'funds_status' label %}


                  {% trans "注文出入庫状況" context "order_manage table header" as label %}
                  {% sorting_header 'order_manage_status' label %}

                  {% trans "金額" context "order_manage table header" as label %}
                  {% sorting_header 'total' label %}

                  {% trans "責任者" context "order_manage table header" as label %}
                  {% sorting_header 'responsible_person' label %}

                  {% trans "最後の変更" context "order_manage table header" as label %}
                  {% sorting_header 'last_change' label %}

                </tr>
              </thead>
              <tbody>
                {% for order_manage in order_manage_s %}
                  <tr data-action-go="{%url 'product_stock:order-manage-details' order_manage_pk=order_manage.pk %}">
                    <td>
                      #{{ order_manage.id }}
                    </td>
                    <td>
                      {{ order_manage.created }}
                    </td>
                    <td>
                      {% if order_manage.suppliers %}
                        {{ order_manage.suppliers }}
                      {% elif order_manage.legal_person %}
                        {{ order_manage.legal_person }}
                      {% else %}
                        ---
                      {% endif %}
                    </td>
                    <td>
                      {{ order_manage.funds_status }}
{#                      {% render_status order.get_payment_status order.get_payment_status_display %}#}
                    </td>

                    <td>
                      {% if order_manage.type_No %}
                        注文出庫
                      {% else %}
                        買取入庫
                      {% endif %}
                    </td>

                    <td>
                      {{ order_manage.order_status }}
{#                      {% render_order_status order.status order.get_status_display %}#}
                    </td>
                    <td>
                      {% price order_manage.total %}
                    </td>
                    <td>
                      {{ order_manage.responsible_person }}
                    </td>
                    <td class="right-align">
                      {{ order_manage.last_change }}
                    </td>



                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
{#          {% paginate orders %}#}
        </div>
      {% else %}
        {% if is_empty %}
{#          {% include 'dashboard/product_stock/order_manage/zero_page.html' %}#}
        {% else %}
{#          <div class="col s12">#}
{#            <div class="not-found">#}
{#              <p class="grey-text">#}
{#                {% trans "No orders found." context "Empty order list message" %}#}
{#              </p>#}
{#            </div>#}
{#          </div>#}
        {% endif %}
      {% endif %}
    </div>
  </div>

{% endblock %}
