{% extends "base.html" %}
{% load i18n %}
{% load price from taxed_prices %}
{% load materializecss %}
{% load prices %}
{% load status %}
{% load utils %}
{% load static %}

{% block title %}{{ order_manage }}へ{% trans "商品追加" context "Dashboard order_manage list" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-order_manage{% endblock %}

{% block menu_order_manage_class %}active{% endblock %}

{% block newfilters %}{% endblock newfilters %}

{% block header_extra %}{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li class="">
      <a href="{% url "product_stock:order-manage-list" %}">
        {% trans "買取・注文出入庫執行表" context "Dashboard orders list" %}
      </a>
    </li>
    <li>
      <span>
        {{ order_manage }}
      </span>
    </li>
  <li>
    <span>
    商品を追加
    </span>
  </li>
  </ul>

{% endblock %}

{% block content %}
  <form method="post" id="myforms">
    {% csrf_token %}
      <div class="card">
      {{ form }}
      </div>
      <a href="{%url 'product_stock:order-manage-details' order_manage_pk=order_manage.pk %}" class="modal-action modal-close btn-flat waves-effect">
       {% trans "Cancel" context "Dashboard cancel action" %}
    </a>
  <a class="btn waves-effect" contenteditable="false" onclick="document.getElementById('myforms').submit()">
    追加
  </a>
  </form>

{% endblock %}
