{% extends "base.html" %}
{% load i18n %}
{% load price from taxed_prices %}
{% load prices %}
{% load status %}
{% load utils %}
{% load static %}

{% block title %}{% trans "商品ロック執行表" context "Dashboard manual_inventory_manage list" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-manual-inventory-manage{% endblock %}

{% block menu_manual_inventory_manage_class %}active{% endblock %}

{% block newfilters %}
  {% if not is_empty %}
    <div class="row">
    <div class="col s12 l12">
    <ul class="collapsible">
      <li>
        <div class="collapsible-header">
          <i class="fa-regular fa-nfc-magnifying-glass"></i>
          フィルター
          <span class="new badge"  data-badge-caption="個商品ロック執行表発見">{{ manual_inventory_manage_s_filter.get_total }}</span></div>
        <div class="collapsible-body">
          {% filters manual_inventory_manage_s_filter %}
        </div>
      </li>
    </ul>
    </div>
    </div>
  {% endif %}
{% endblock newfilters %}



{% block header_extra %}
    <div class="btn-fab-fixed" style="right: 8%;">
    <a class="waves-effect waves-light btn" href="{%url 'product_stock:manual-inventory-manage-create' %}"
       title="{% trans "商品ロック執行表を新規追加" context "manual_inventory_manage list add button text" %}">
      <span>商品ロック執行表を新規追加</span>
      <i class="fa-sharp fa-solid fa-memo-circle-info"></i>
    </a>
  </div>

{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs">
    <li class="visible-s">{% trans "商品ロック執行表" context "Dashboard orders list" %}</li>
  </ul>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 l12">
      {% if manual_inventory_manage_s %}
        <div class="card">
          <div class="data-table-container">
            <table class="bordered highlight responsive data-table last-right-align">
              <thead>
                <tr>
                  {% sorting_header 'pk' '#' %}

                  {% trans "作成" context "manual_inventory_manage table header" as label %}
                  {% sorting_header 'created' label %}

                  {% trans "ロック状況" context "manual_inventory_manage table header" as label %}
                  {% sorting_header 'manual_inventory_manage_status' label %}

                  {% trans "責任者" context "manual_inventory_manage table header" as label %}
                  {% sorting_header 'responsible_person' label %}

                  {% trans "最後の変更" context "manual_inventory_manage table header" as label %}
                  {% sorting_header 'responsible_person' label %}

                </tr>
              </thead>
              <tbody>
                {% for manual_inventory_manage in manual_inventory_manage_s %}
                  <tr data-action-go="{%url 'product_stock:manual-inventory-manage-details' manual_inventory_manage_pk=manual_inventory_manage.pk %}">
                    <td>
                      #{{ manual_inventory_manage.id }}
                    </td>
                    <td>
                      {{ manual_inventory_manage.created }}
                    </td>
                    <td>
                      {{ manual_inventory_manage.manual_inventory_status }}
{#                      {% render_order_status order.status order.get_status_display %}#}
                    </td>
                    <td>
                      {{ manual_inventory_manage.responsible_person }}
                    </td>
                    <td class="right-align">
                      {{ manual_inventory_manage.last_change }}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
{#          {% paginate orders %}#}
        </div>
      {% else %}
        {% if is_empty %}
          {% include 'dashboard/product_stock/manual_inventory_manage/zero_page.html' %}
        {% else %}
{#          <div class="col s12">#}
{#            <div class="not-found">#}
{#              <p class="grey-text">#}
{#                {% trans "No orders found." context "Empty order list message" %}#}
{#              </p>#}
{#            </div>#}
{#          </div>#}
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
