// variables


.skin-default {
    $primary-color: color("green", "lighten-2") !default;
    .sidenav, .sidenav.sidenav-fixed .collapsible-body, .topbar nav .nav-wrapper .brand-logo {
        background: $inverse!important;
    }
    .create-btn{
        background: $danger!important;
    }
} 