{% extends "base.html" %}
{% load i18n %}
{% load materializecss %}
{% load static %}

{% block title %}
  {% if shop.pk %}
   {% trans "編集" context "Dashboard attributes list" %} - {{ product_stock_status }}
  {% else %}
    {% trans "商品状態追加" context "product_stock_status detail page title" %}
  {% endif %}
  - {{ block.super }}
{% endblock %}

{% block body_class %}body-product-stock-status-list{% endblock %}

{% block menu_product_stock_status_class %}active{% endblock %}

{% block newfilters %}{% endblock newfilters %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{%url 'product_stock:product-stock-status-list' %}" class="breadcrumbs--ellipsed-item">
        {% trans "商品状態" context "Dashboard product-stock-status-list list" %}
      </a>
    </li>
    {% if product_stock_status.pk %}
      <li>
        <span class="breadcrumbs--ellipsed-item">
            {{ product_stock_status }}
        </span>
      </li>
    <li>
      <span class="breadcrumbs--ellipsed-item">
        {% trans "編集" context "product_stock_status detail breadcrumbs" %}
      </span>
    </li>
    {% else %}
    <li>
      <span class="breadcrumbs--ellipsed-item">
        {% trans "商品状態新規追加" context "product_stock_status detail breadcrumbs" %}
      </span>
    </li>
    {% endif %}
  </ul>
{% endblock %}


{% block content %}
  <div class="row">
    <div class="col m12 l9">
      <div class="card">
        <form method="post" enctype="multipart/form-data" id="form-attributes" novalidate>
          <div class="card-content card-content-form">
            {% csrf_token %}
            <div class="row">
              {{ form.name|materializecss }}
            </div>
            <div class="row">
              {{ form.description|materializecss }}
            </div>
          </div>
          <div class="card-action right-align">
            {% if product_stock_status.pk %}
              <a href="{%url 'product_stock:product-stock-status-list' %}" class="btn-flat waves-effect">
                {% trans "Cancel" context "Dashboard cancel action" %}
              </a>
              <button type="submit" class="btn waves-effect">
                {% trans "Save" context "Dashboard update action" %}
              </button>
            {% else %}
              <a href="{%url 'product_stock:product-stock-status-list' %}" class="btn-flat waves-effect">
                {% trans "Cancel" context "Dashboard cancel action" %}
              </a>
              <button type="submit" class="btn waves-effect">
                {% trans "Create" context "Dashboard create action" %}
              </button>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
    <div class="col m12 l3 help-box"></div>
  </div>
{% endblock %}

