<!DOCTYPE html>
{% load static i18n %}
{% load version %}
{% load serialize_messages from utils %}
{% load svg %}
{% load sass_tags %}
{#{% load static %}#}
{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}

<html lang="{{ LANGUAGE_CODE }}" class="no-js">
<head>
    <title>
        {% block title %}
            {% blocktrans trimmed context "product_stock default page title" with site_name=site.name %}
                在庫管理システム
            {% endblocktrans %}
        {% endblock %}
    </title>
    {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="theme-color" content="#21915a"/>
        <meta name="robots" content="noindex, nofollow">
    {% endblock meta %}

    {#    {% include 'favicon.html' %}#}

    {#    {% render_bundle 'base' 'css' %}#}

    <link href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="{% static 'css/jqvmap.css' %}" rel="stylesheet">
    <link href="{% static 'css/flag-icon-css/css/flag-icon.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/admin-materialize.min.css' %}" rel="stylesheet">

    {% block custom_css %}{% endblock %}

</head>
<body class="{% block body_class %}body-home{% endblock %}">
<header>
    <div class="navbar-fixed">
        <nav id="top-nav">
            <div class="nav-wrapper">
                <ul class="left">
                    <li>
                        <a href="{% url 'index' %}" class="logo" style="height: 56px;">
                            <img src="https://tempsiteforsam.s3.ap-northeast-1.amazonaws.com/kingbuy-static/logo-white-svg.png"
                                 style="height: 51px;padding: 5px;">
                        </a>
                    </li>
                </ul>
                <ul class="right">
                    <li class="user-name">
                        現在のスタッフ： {{ request.user }}
                    </li>
                    <li class="">
                        <a href="" class="waves-effect waves-light btn-large"
                           style="font-size: large">
                            {% trans "Log out" context "product_stock top navigation action" %}
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<div class="subheader top-nav">
    <div class="nav-wrapper container">
        {% block breadcrumbs %}
            <ul class="breadcrumbs">
                <li class="visible-s">
                    <a href="#">
                        {% trans "コントロールパネル" context "product_stock homepage" %}
                    </a>
                </li>
            </ul>
        {% endblock %}
        {% block header_extra %}{% endblock %}
    </div>
</div>
<main class="main">
    <div id="base-modal" class="modal"></div>
    <div id="base-modal-fixed" class="modal modal-fixed-footer"></div>
    <div class="container" style="margin-left: 40px;margin-left: 40px;">
        {#      ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー#}
        <div class="row">
            {% block newfilters %}filter{% endblock newfilters %}
        </div>
        {% block content %}{% endblock %}
        {#      ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー#}
        <div id="dashboard-app"></div>
    </div>
</main>

<div id="messages-container" data-messages="{% serialize_messages %}"></div>

{#    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>#}
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/1f9b8807e2.js" crossorigin="anonymous"></script>
<script src="https://yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>




<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.min.js"></script>
<script src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js" type="text/javascript"></script>

    {% render_bundle 'kingbuy' 'js' %}
{% render_bundle 'vendor' 'js' %}

{#<script src="{% static 'sitejs/materialize.min.js' %}"></script#}
{#<script src="{% static 'sitejs/jqvmap/jquery.vmap.min.js' %}" type="text/javascript"></script>#}
{#<script src="{% static 'sitejs/jqvmap/jquery.vmap.world.js' %}" charset="utf-8" type="text/javascript"></script>#}
{#<script src="{% static 'sitejs/jqvmap/jquery.vmap.sampledata.js' %}" type="text/javascript"></script>#}
{#<script src="{% static 'sitejs/Chart.js' %}" type="text/javascript"></script>#}
{#<script src="{% static 'sitejs/Chart.Financial.js' %}" type="text/javascript"></script>#}
{#<script src="{% static 'sitejs/imagesloaded.pkgd.min.js' %}"></script>#}
{#<script src="{% static 'sitejs/masonry.pkgd.min.js' %}"></script>#}
{#<script src="{% static 'sitejs/admin.js' %}"></script>#}
{#<script src="{% static 'sitejs/init.js' %}"></script>#}


{% block custom_js %}{% endblock %}

</body>
</html>
